$color-white:#fff;
$color-black:#000;
$color-primary:#4848c2;
$color-primary-light:#a5a5cc;
$color-primary-dark:#3439a7;
$color-secondary:#fcea69;

$shadow-light:0 0.5rem 0.5rem rgba(000,000,000,0.1);
$shadow:0 1rem 1rem rgba(000,000,000,0.1);